.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.Country{
  background-color:grey;
  border: 10px;
  border-color: blue;

}

.Flag{
  height: 100px;
  width:190px;
  
}


.CountriesList{

  display:grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

}

.BucketListCountry{
  border: 100px;
  border-color: black;


}

.VisitedCountry{
  background-color:lightgreen;


}




