@import url('https://fonts.googleapis.com/css2?family=Asap&family=Bebas+Neue&display=swap');


.title {
position: absolute;
margin: -17%;
margin-left: 37.5%;

font-family: 'Bebas Neue', cursive;
font-style: normal;
font-weight: normal;
font-size: 7vw;
line-height: 120px;

color: #044970;
text-shadow: 5px 5px 0px #0CD3FF;
}


.searchBar {
position: absolute;
width: 27vw;
height: 2.5vw;
margin: -10%;
margin-left: 37%;

font-family: 'Asap', sans-serif;
text-transform: uppercase;
padding-left: 2%;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 32px;
border: none;
outline: none;
}

.searchBarButton {
position: absolute;
width: 5vw;
height: 2.5vw;
margin: -10%;
margin-left: 59%;

background-color: #0CD3FF;
border-radius: 32px;
border: none;
}

.searchBarButton:hover {
  background-color: #044970;
  transition: 0.2s;

}

#biSearch {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-left: 40%;
}

.navBar {
position: absolute;
width: auto;
margin: -6%;
margin-left: 44%;
height: 2.5vw;
display: flex;
align-items: center;


}

.navBar button {
background-color: white;
border: none;
width: auto;
font-family: 'Asap', sans-serif;
text-transform: uppercase;
font-size: 1vw;
padding: 5%;
display: flex;
flex-wrap: nowrap;
white-space: nowrap;
border-radius: 32px;

}

.navBar button:hover {
  background-color: #2082BA;
  transition: 0.2s;
  color: white;
}

.country {
font-family: 'Asap', sans-serif;
font-size:  1vw;
text-transform: uppercase;
text-align: center;
background: #F4F4F4;
margin: 20px;
padding: 5px;

}



  .countriesHover {
    display: none;
  }

  .country:hover .countriesHover {
    display: block;
    transition: 0.2s;
  }

  .country:hover {
    background: #dcf8ff;
    transition: 0.2s;
  }

.flag{
  width: auto;
  height: 100px;
}

.country:hover .flag {
  height: 125px;
  transition: 0.2s;
}

.countriesList {
  margin-top: 20%;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

#unselectedButton{
background-color: #044970;
border-radius: 32px;
border: none;

font-family: 'Asap', sans-serif;
  font-size: 0.85vw;
  text-transform: uppercase;
  text-align: center;
  padding: 2%;
  padding-left: 4%;
  margin: 2.5%;
  color: white;

}

#selectedButton{
  background-color: #2082BA;
  border-radius: 32px;;
  border: none;
  
  font-family: 'Asap', sans-serif;
  font-size: 0.85vw;
  text-align: center;
  text-transform: uppercase;
  padding: 2%;
  padding-left: 4%;
  margin: 2.5%;
  color: white;
  
  }

  #selectedButton:hover {
    background-color: #044970;
    padding: 3%;
    transition: 0.2s;
  }

  #unselectedButton:hover {
    background-color: #2082BA;
    padding: 3%;
    transition: 0.2s;
  }

  @media screen and (max-width: 640px) {
    .countriesList {
      grid-template-columns: repeat(2, 1fr);
    
    }
  
  .flag{
    height: 60px;
  }

  .country:hover .flag {
    height: 85px;
  }

  .country {
    font-size:  1.5vw;
  }

  #unselectedButton{
    border-radius: 32px;
    font-size: 1.5vw;
    padding: 2%;
  }

  #selectedButton{
    border-radius: 32px;
    font-size: 1.5vw;
    padding: 2%;
  }

  .title{
    margin-top: -20%;
    margin-left: 37.5%;
  }
  

  .navBar button {
    font-size: 1.5vw;
    border-radius: 32px; 
  }

  .navBar {
    margin-left: 40%;
    margin-top: -2.5%;
  }

  .searchBar {
    margin-top: -7%;
    font-size: 8px;
  }

  .searchBarButton {
    margin-top: -7%;
  }

  #biSearch {
    font-size: 10px;
    margin-top: 5%;
  }
}